body {
    font-family: 'Roboto Condensed', sans-serif !important;
}
.main {
    text-align: center;
    width: 1000px;
    height: 500px;
    background: url('../img/background.png');
}
.head {
    margin-top: 180px;
    background-color: rgba(255,255,255,.7);
}
