body {
    font-family: Menlo;
}
.head {
    margin-top: 180px;
    /*background-color: rgba(255,255,255,.7);*/
}
.head h1, .head h2{
    color: white;
}
.nested {
    margin-bottom: 0;
}
.project-img {
    border: 1px black solid;
}